.wrapper {
  background-color: #FAF0E6;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 0
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px 4px #ffdcd6;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}

.delete-btn {
  position: relative;
  padding-top: 30px;
  margin-right: 30px;
  display: inline-block;
  Cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  opacity: .29;
}

.delete-btn:hover {
  opacity: 1;
  transition: .7s;
}

.image img {
  width: 8em;
  margin-right: 1em;
}

.description {
  padding: 10px;
  margin-right: 30px;
  width: 15em;
}

.quantity {
  padding-top: 1em;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
}

button {
  width: 2em;
  height: 2em;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: .5;
  transition: .5s;
}

.minus-btn img {
  margin-bottom: 3px;
}

.plus-btn img {
  margin-top: 2px;
}

.plus-btn img:hover, .minus-btn img:hover {
  opacity: .5;
}

.total-price {
  padding-top: 2em;
  text-align: center;
  color: #43484D;
}

.edit {
  width: 100%;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 90%;
    height: auto;
    overflow: hidden;
  }

  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .image img {
    width: 17em;
    margin-right: 0em;
  }

  .delete-btn {
    position: relative;
    padding-top: 1em;
    padding-bottom: .5em;
    margin: 0;
  }

  p {
    text-align: center;
  }

  .edit {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}
