/* Document checking completed by validator.w3.org  */

header {
  margin-top: 0;
  background-color: white;
  color: white;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.wrapper {
  background-color: #FFF7F0;
  padding-top: 2em;
  padding-bottom: 50em;
  margin: 0;
}

h1 {
  color: #F5A9A9;
  padding-left: 4rem;
}

p {
  font-size: 1rem;
  text-align: left;
  color: grey;
  letter-spacing: .1rem;
  margin-bottom: 0;
}

.customer-order, .customer-pay, .customer-info {
  padding: 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
  padding-bottom: 5rem;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px #ffdcd6;
}

.customer-info {
  margin-bottom: 3rem;
}

.customer-pay {
  padding-bottom: 3rem;
}

span {
  color: #cccccc;
}

.wrapper {
  font-family: 'Didact Gothic', sans-serif;
  margin-bottom: 50px;
}

.left {
  float: left;
  width: 50%;
  padding-bottom: 50px;
}

.right {
  float: right;
  width: 50%;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
}

#Checkout {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #dedede;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #EEF2F4;
  color: #5D6F78;
  font-size: 24px;
  border-bottom: 1px solid #DEDEDE;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

form {
  margin: 25px;
}

.amount-placeholder {
  font-size: 20px;
  display: inline;
  padding-left: 20px;
}

.pay, .back, .edit {
  background-color: transparent;
  border: 2px solid #ffdcd6;
  background-color: #ffdcd6;
  padding: 5px 20px;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

.pay:hover, .back:hover, .edit:hover {
  cursor: pointer;
  border: 2px solid #E3AE7F;
  background-color: #E3AE7F;
  transition-duration: .3s;
  color: white;
}

.pay:focus, .back:focus, .edit:focus {
  cursor: pointer;
  background-color: #FFA07A;
  transition-duration: .3s;
  color: white;
}

.pay {
  float: right;
  text-decoration: none;
  color: black;
}

.edit {
  margin-top: 0;
  float: right;
  text-decoration: none;
  color: black;
}

label, input {
  margin: 1em;
}

input[type=text], select, textarea {
  width: 70%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

input:hover {
  background-color: #ffdcd6;
  transition: .3s;
}

@media screen and (max-width: 533px) {
  .customer-order, .customer-pay, .customer-info {
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 4em;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 1em;
    box-shadow: 2px 2px 10px pink;
  }
}

@media only screen and (min-width: 660px) {
  header {
    width: 40%;
    margin: auto;
  }
}

@media only screen and (max-width: 660em) {
  .logoimage {
    width: 80%;
  }
}

@media only screen and (max-width: 440em) {
  .logoimage {
    width: 50%;
  }
}
