.detail {
  background-color: transparent;
  border: 2px solid #FFA07A;
  padding: 2px 5px;
  margin: 1em;
  border-radius: .5em;
  font-size: 1em;
}

.detail:hover {
  cursor: pointer;
  background-color: #FFA07A;
  transition-duration: .3s;
  color: white;
}

p, h2 {
  margin: 0;
  padding: .5em;
}

/* gallery layout */
/* retrieved from https://www.w3schools.com/css/css3_flexbox_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 8em;
  padding-bottom: 2em;
}

.background {
  background-color: #FAF0E6;
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

/* three equal columns */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 2em;
}

.column img {
  margin-top: 2em;
  vertical-align: middle;
  width: 100%;
}

/* media query, changes the layout to 2 columns instead of three */
@media (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4em;
    padding-top: 0;
  }
}

/* media query, one column */
@media (max-width: 700px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 2000em) {
  .logoimage {
    width: 80%;
  }
}

@media only screen and (max-width: 660em) {
  .logoimage {
    width: 60%;
  }
}

@media only screen and (max-width: 440em) {
  .logoimage {
    width: 50%;
  }
}
