body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

header {
  margin-top: 0;
  background-color: white;
  color: white;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

h1, h2, h3, h4, h5, p {
  padding-left: 0 !important;
}

h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h2, p {
  text-align: center;
  margin: auto;
}


.row1, .row3 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #FAF0E6;
  padding-top: 100px;
}

.row2 {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  background-color: white;
  padding-top: 100px;
}

.ser1_column1, .ser2_column2, .ser3_column1 {
  flex: 1;
}

.ser1_column2, .ser2_column1, .ser3_column2 {
  flex: 1.5;
  padding-left: 50px;
}

.ser1_column1 img, .ser2_column2 img, .ser3_column1 img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.add {
  float: right;
  padding: 5px 10px;
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  font-size: 1rem;
}

@media only screen and (max-width:950px) {
  .parallax img, .parallax {
    padding-bottom: 0;
    margin-bottom: 0px;
  }

  .navlink a {
    color: pink;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;
    font-size: 17px;
  }

  .row1 {
    margin-top: 0;
  }

  .row1, .row3 {
    display: flex;
    justify-content: center;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #FAF0E6;
    padding-top: 55px;
  }

  .row2 {
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    background-color: white;
    padding-top: 35px;
  }

  .ser1_column1,
  .ser1_column2 {
    padding-top: 55px;
  }

  .ser1_column1, .ser2_column2, .ser3_column1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ser1_column2, .ser2_column1, .ser3_column2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width:700px) {
  .parallax img, .parallax {
    z-index: 99;
    float: left;
    width: 100%;
    height: 30vh;
    padding-top: 0px;
    margin: 0;
    margin-bottom: 0px;
    object-fit: cover;
  }

  .row1, .row3 {
    display: block;
    background-color: #FAF0E6;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 35px;
    padding-bottom: 55px;
  }

  .row1 {
    padding-top: 0;
    margin-top: 0;
    padding-top: 305px;
  }

  .row2 {
    display: block;
    background-color: white;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 35px;
    padding-bottom: 55px;
  }

  .ser1_column2, .ser2_column1, .ser3_column2 {
    padding: 1em;
  }

  .ser1_column1, .ser2_column2, .ser3_column1 {
    display: none;
  }

  .ser1_column1 img, .ser2_column2 img, .ser3_column1 img {
    display: none;
  }
}

@media only screen and (min-width: 660px) {
  header {
    width: 40%;
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .centerr {
    display: flex;
    flex-grow: 1;
    margin: auto;
    width: 100%;
    margin-top: 55px;
    text-align: center;
  }
}

@media only screen and (max-width: 660em) {
  .logoimage {
    width: 80%;
  }
}

@media only screen and (max-width: 440em) {
  .logoimage {
    width: 50%;
  }
}
