/*
GlobL style
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: left;
}

.block {
  display: block;
}

.DB7093 {
  padding: 20px;
  display: block;
  background-color: #DB7093;
}

.FAF0E6 {
  padding: 20px;
  display: block;
  background-color: #FAF0E6;
}

.FFC0CB {
  padding: 20px;
  display: block;
  background-color: #FFC0CB;
}

.FFA07A {
  padding: 20px;
  display: block;
  background-color: #FFA07A;
}

.FFD700 {
  padding: 20px;
  display: block;
  background-color: #FFD700;
}

.dancing {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.barlow {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.didact {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/*Imagary and branding font Combination*/
.column {
  float: left;
  width: 50%;
  padding: 50px;
  text-align: left;
}

.row {
  margin: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}

/* header design */
header {
  margin-top: 0;
  background-color: white;
  color: white;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

/* icon design */
.centerr {
  display: flex;
  flex-grow: 1;
  margin: auto;
  width: 40%;
  margin-top: 55px;
}

.fa {
  flex-grow: 1;
  z-index: 1;
  text-align: center;
  font-size: 25px;
  width: 50px;
  text-decoration: none;
  color: lightgrey;
  margin: 10px;
}

.fa:hover {
  color: #FFA07A;
  transition: .7s;
}

/* background design&color for different section */
.Interactive {
  padding: 2rem;
  background-color: #FAF0E6;
}

.text_elements {
  padding: 2rem;
  background-color: white;
}

.combine {
  padding: 2rem;
  background-color: #FAF0E6;
}

.citations {
  padding: 2rem;
}

/* in-section divider  */
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/* text elements */
h1, h2, h3, h4, h5, p {
  padding-left: 20px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #DB7093;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: lighter;
  color: #FFC0CB;
  font-size: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #FFA07A;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: #FF7F50;
  margin-top: 0;
  padding-right: 0;
}

p {
  margin-top: 0;
  font-family: 'Didact Gothic', sans-serif;
}

ol {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
}

/* Styling for intext link */
.location:hover {
  color: white;
  background-color: #FFA07A;
  text-decoration: none;
  transition-duration: .3s;
}

/* Styling for the navigation link */
.navlink {
  display: flex;
  border-top: 2px solid #FFA500;
  border-bottom: 2px solid #FFA500;
  overflow: hidden;
  font-family: 'Didact Gothic', sans-serif;
  padding-bottom: 0;
}

.navlink a {
  float: left;
  display: flex;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 0;
}

.navlink a:hover {
  color: lightgrey;
}

/* submit/reset button */
button {
  background-color: transparent;
  border: 2px solid #FFA07A;
  padding: 5px 20px;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: #FFA07A;
  transition-duration: .3s;
  color: white;
  cursor: pointer;
}

/* Styling for input text field*/
input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border-width: thin;
}

input:hover, textarea:hover {
  border-width: medium;
}

input:focus, textarea:focus {
  background-color: white;
  border-width: thin;
}

.input {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

/* Styling for radio button*/
.radio_button {
  font-family: 'Roboto', sans-serif;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 0;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a background color */
.radio_button:hover input~.checkmark {
  background-color: #FFD700;
}

/* When the radio button is checked, add a background */
.radio_button input:checked~.checkmark {
  background-color: #FFD700;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_button input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_button .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* img link  */
a img {
  opacity: 1.0;
  width: 50vw;
}

a img:hover {
  opacity: 0.6;
  transition: .25s;
}

/*
  COMBINED ELEMENTS -------------------
*/
#PayButton {
  font-size: 1rem;
  background-color: #FFD700;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.inline {
  text-align: center;
  width: 50%;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 15px;
}

label {
  padding: 10px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

h6 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #EEF2F4;
  color: #5D6F78;
  font-size: 24px;
  border-radius: 8px;
}

/*
servise list
*/
.container {
  display: flex;
}

.checkout {
  margin: 10px;
}

.whole {
  display: inline-block;
}

.type {
  width: 300px;
  border-radius: 5px 5px 0px 0px;
  background-color: #eac80d;
  height: 62px;
  padding-bottom: 4rem;
  border-bottom: 3px solid white;
}

.type p {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.plan {
  width: 300px;
  background-color: #FFE4E1;
  border-radius: 0px 0px 5px 5px;
  font-size: 4rem;
  padding: 10px;
  color: grey;
  text-align: center;
}

.standard {
  background-color: #DB7093;
  border-bottom: 3px solid white;
}

.ultimate {
  background-color: #FF7F50;
  border-bottom: 3px solid white;
}

.header {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.details {
  color: black;
  font-size: 1rem;
}

.details:hover {
  color: white;
  background-color: #FFA07A;
  text-decoration: none;
  transition-duration: .3s;
}

.content {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
}

/*
checkout cart
*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}

tr {
  background-color: #FFC0CB;
}

.shopping {
  width: 20vw;
}

.right {
  text-align: right;
}

.checkouts {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkouts:hover {
  background-color: #494;
}
