/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'David Libre', serif;
  padding: 2rem;
  background-color: #D0DEF2;
}

/*Change the default font.*/

header{
  font-family: 'Crimson Text', serif;
  background-color: #5A7190;

}

header>h1{
  font-family: 'Crimson Text', serif;
  padding-top: 1.5em;
  margin-bottom:1.5em;
  padding-left: 0.8em;
}


header>.nav1{
  font-family: 'Crimson Text', serif;
  background-color: #7E8Fa7;
  font-size: 1.2em;
}

header>.nav2{
  font-family: 'Crimson Text', serif;
  background-color: #A6B4CE;
  font-size: 1.2em;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.nav1 a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:black;
}

.nav1 a:hover, .nav1 a:focus {
  background-color: #D8D1AA;
}


.nav2 a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  color:black;
}

.nav2 a:hover, .nav1 a:focus {
  background-color: #D8D1AA;
}

.element {
  margin-top:1.5rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/*----------some basic components-----------*/

h1{
  font-family: 'Crimson Text', serif;
  padding-left: 1rem;
}

h2 {
  font-family: 'Crimson Text', serif;
  margin-top: 2rem;
  
}

h3 {
  font-family: 'Crimson Text', serif;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  
  
}

h4 {
  font-family: 'Crimson Text', serif;
  margin-top:0.3em;
  
}

h5{
  font-family: 'Crimson Text', serif;
}




code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


.font1{
   font-family: 'Crimson Text', serif;
   font-size: 50px;
}

.font2{
  font-family: 'David Libre', serif;
  font-size: 50px;
}




/* 
  INTERACTIVE ELEMENTS -------------------
*/


section{
  margin-top: 2.5rem;
  
}


section a:hover{
  color:#F4B400;
}

section a{
  color:#002e4d;

}


.list{
  margin-left:1.5rem;
  list-style-type: upper-roman;
}


/*Style the Radio Button, code learned from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

.Rcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1em;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  margin-top: 0.8em;
}


.Rcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.click {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
}


.Rcontainer:hover input ~ .click {
  background-color: #A6B4CE;
}


.Rcontainer input:checked ~ .click {
  background-color: #5A7190;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.Rcontainer input:checked ~ .click:after {
  display: block;
}


.Rcontainer .click:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/*Add a different hover and focus state styling to the image as a link.Code learned from https://www.w3schools.com/ */


.imgurl:hover img{
  opacity: 0.6;
}


.imgurl:focus img{
  border:10px solid #5A7190;
}

/*Style the <input> and <label>, code learning from https://stackoverflow.com/questions/4388102/can-you-style-an-active-form-inputs-label-with-just-css*/

input{
  margin-bottom:0.5rem;
  width:15rem; 
  font-family: 'David Libre', serif;
  margin-top: 0.5rem;
}


input:focus { background: #D8D1AA; }
input:hover{ background: #A6B4CE; }

label {
color: #b36b00;
font-weight: bold;
display: block;
width: 250px;
}





/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: #A6B4CE;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  margin-top: 1em;
}

.button-nav:hover, .button-nav:focus {
  background-color: #D8D1AA;
  color:black;
}





/* 
  TEXT ELEMENTS -------------------
*/

p {
  font-family: 'David Libre', serif;
  margin-top: 0;
  
}

p.para{
  width:50%;
}

/*Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks.*/



/* 
  COMBINED ELEMENTS -------------------
*/
.product_listing{
  width: 200px;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;
}

.product_listing img{
  width:100%;
}

.submit-btn{
  display:block;
}

.payment_form{
  width: 270px;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;
}

.cart_checkout{
  width: 260px;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;
}


hr {
  border: 2px solid #867979;
  margin-top: 1em;
  margin-bottom: 1em;
}

span.price {
  float: right;
}


/* Css for website design elements*/
.deepblue{
  width: 50%;
  text-align: center;
  border:1px solid #D0DEF2;
  margin-bottom:1em;
  padding:2em;
}

.lightblue1{
  width: 50%;
  text-align: center;
  border:1px solid #D0DEF2;
  margin-bottom:1em;
  padding:2em;
}


.lightblue2{
  width: 50%;
  text-align: center;
  border:1px solid #D0DEF2;
  margin-bottom:1em;
  padding:2em;
}


.lightestblue{
  width: 50%;
  text-align: center;
  border:1px solid black;
  margin-bottom:1em;
  padding:2em;
}

/*Css for product/service web-page*/
.sContainer{
  display:flex;
  justify-content: space-between;
  padding-top: 1.5em;
  flex-wrap: wrap;
}


@media screen and (max-width: 50em){
  
    .sContainer{
      padding-top:0.5em;
    }


  
 }

.ser1{
  margin-top: 1.5em;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;

}

.ser2{
  margin-top: 1.5em;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;
}


.ser3{
  margin-top: 1.5em;
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color: white;
}


/*Css for checkout web-page*/
.cContainer{
 
  display: flex;
  flex-wrap: wrap;

  font-size: 15px;
 
 } 


 .payContainer{

  display:flex;

  justify-content: center;
  margin-right: 2em;
  margin-bottom: 1em;


 }

 @media screen and (max-width: 50em){
  .payContainer{
  flex-direction:column;
}
 }
 




.checkout1{
  
  padding:0.5rem;
  background-color: #f2f2f2;

}


.checkout2{
  
  padding:0.5rem;
  background-color: #f2f2f2;

}


.checkout3{
  box-shadow: 0px 5px 10px;
  padding:0.5rem;
  background-color:#f2f2f2;
  position:relative;
  height:100%;


}

.checkout input{
  position:absolute;
  bottom:1em;
}

